.video-js.vjs-vtt-thumbnails {
  display: block;
}

.video-js .vjs-vtt-thumbnail-display {
  width: 100px;
  height: 0;
  position: absolute;
  transition: transform .1s, opacity .2s;
  bottom: 85%;
  pointer-events: none;
  box-shadow: 0 0 7px rgba(0,0,0,.6);
}
